
<div *ngIf="round">
    <h2><span>Round</span> {{round.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{round.name}}</span>
        </dd>
        <dt><span>Number</span></dt>
        <dd>
            <span>{{round.number}}</span>
        </dd>
        <dt><span>Discreption</span></dt>
        <dd>
            <span>{{round.discreption}}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
            <span>{{round.date | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'round/'+ round.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
