<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="container col-lg-12">
        <div class="justify-content-center form-container">
          <mat-card>
            <mat-horizontal-stepper [linear]="true">

              <div class="row justify-content-center" id="gg">
                <mat-step [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Personal Information</ng-template>
                      <div class="col-md-12">
                          <div class="row">
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">First Name</label>
                                      <input type="text" class="form-control" formControlName="firstCtrl" required>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Last Name</label>
                                      <input type="text" class="form-control">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Email</label>
                                      <input type="text" class="form-control" formControlName="firstCtrl" required>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Alternate Email</label>
                                      <input type="text" class="form-control">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Phone 1</label>
                                      <input type="text" class="form-control" formControlName="firstCtrl" required>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Phone 2</label>
                                      <input type="text" class="form-control">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Father's Name</label>
                                      <input type="text" class="form-control" formControlName="firstCtrl" required>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Mother's Name</label>
                                      <input type="text" class="form-control">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  <mat-form-field>
                                      <input matInput [matDatepicker]="dp2" placeholder="Date of visit" disabled>
                                      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                                      <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <select class="form-group form-black form-control" id="sel1">
                                      <option>Nationality</option>
                                      <option>Indian</option>
                                      <option>Nepal</option>
                                      <option>Other</option>
                                  </select>
                              </div>
                          </div>
                      </div>


                    <div>
                      <button id="nextbtn" class="btn btn-primary pull-right" matStepperNext type="button">Next</button>
                    </div>
                  </form>
                </mat-step>


                <mat-step [stepControl]="secondFormGroup">
                  <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Academic Information</ng-template>
                      <div class="row">
                          <div class="col-md-4">
                              <div class="form-group form-black label-floating is-empty">
                                  <label class="control-label">12th %</label>
                                  <input type="text" class="form-control" formControlName="secondCtrl" required>
                              </div>
                          </div>
                      </div>


                      <input type="number">

                    <div>
                      <button  matStepperPrevious class="btn btn-primary">Back</button>
                      <button  matStepperNext class="btn btn-primary pull-right" id="nextbtn">Next</button>
                    </div>
                  </form>
                </mat-step>

              </div>

            </mat-horizontal-stepper>

          </mat-card>

        </div>

      </div>


    </div>
  </div>
</div>
