<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h3 class="title">Edit</h3>
                </div>
                <div class="card-content">
                    <!-- for current -->
                    <button class="btn btn-info">Offer and Criteria
                        <i class="" style="margin-left:10px;"></i>
                    </button>
                    <!-- for compleated -->
                    <button class="btn btn-info">Missed Recrutees
                        <i class="" style="margin-left:10px;"></i>
                    </button>
                    <button class="btn btn-info">Mark absentees
                        <i class="" style="margin-left:10px;"></i>
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="title">View</h3>
                </div>
                <div class="card-content">
                    <button class="btn btn-info">Offer and Criteria
                        <i class="" style="margin-left:10px;"></i>
                    </button>
                    <button class="btn btn-info">Rounds
                        <i class="" style="margin-left:10px;"></i>
                    </button>
                    <button class="btn btn-info">Eligibility List
                        <i class="" style="margin-left:10px;"></i>
                    </button>
                    <button class="btn btn-info">Applyed List
                        <i class="" style="margin-left:10px;"></i>
                    </button>
                    <button class="btn btn-info">Absentees List
                        <i class="" style="margin-left:10px;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>