
<div *ngIf="offer">
    <h2><span>Offer</span> {{offer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Title</span></dt>
        <dd>
            <span>{{offer.title}}</span>
        </dd>
        <dt><span>Package Offered</span></dt>
        <dd>
            <span>{{offer.packageOffered}}</span>
        </dd>
        <dt><span>Discreption</span></dt>
        <dd>
            <span>{{offer.discreption}}</span>
        </dd>
        <dt><span>Date Of Visit</span></dt>
        <dd>
            <span>{{offer.dateOfVisit | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Last Date</span></dt>
        <dd>
            <span>{{offer.lastDate | date:'medium'}}</span>
        </dd>
        <dt><span>Place</span></dt>
        <dd>
            <span>{{offer.place}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'offer/'+ offer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
