<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">

				<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
					<div class="card">

						<div class="card-header" data-background-color="blue">

							<div class="row">
								<div class="col-lg-6">
										<h3 class="title" style="font-weight:bold;">{{mocktest.name}} Test</h3>
								</div>
								<div class="col-lg-6">
										<strong style="color:red; font-size:1.8em;padding-left:240px;margin-top:20px;">{{countDown | async}} Seconds</strong>
								</div>
							</div>
							
							
						</div>

						<div class="card-content">

							<div *ngFor="let data1 of mocktest.questions">

								<div style="color:rgb(255, 0, 0)">
									{{data1._id}}. {{data1.question}}
								</div>

								<br>
								<p></p>
								<label style="color:rgb(65, 0, 245)">
									<input name="{{data1._id}}" ng-model="data1._id" type="radio" [(ngModel)]="answers[data1._id]" value="1" />
									<span>{{data1.opt1}}</span>

								</label>
								</p>
								<p>
									<label style="color:rgb(65, 0, 245)">
										<input name="{{data1._id}}" ng-model="data1._id" type="radio" [(ngModel)]="answers[data1._id]" value="2" />
										<span>{{data1.opt2}}</span>

									</label>

								</p>
								<p>
									<label style="color:rgb(65, 0, 245)">
										<input name="{{data1._id}}" ng-model="data1._id" type="radio" [(ngModel)]="answers[data1._id]" value="3" />
										<span>{{data1.opt3}}</span>
									</label>

								</p>
								<p>
									<label style="color:rgb(65, 0, 245)">
										<input name="{{data1._id}}" ng-model="data1._id" type="radio" [(ngModel)]="answers[data1._id]" value="4" />
										<span>{{data1.opt4}}</span>
									</label>

								</p>

							</div>
							<div class="card-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="goBack()">
									<span class="fa fa-ban"></span>&nbsp;
									<span>Cancel</span>
								</button>
								<button type="submit" class="btn btn-primary" style="float:right;">
									<span class="fa fa-save"></span>&nbsp;
									<span>Submit</span>
								</button>
							</div>

						</div>
				</form>


				<br>

				<div *ngIf="score">
					<div class="card">
						<div class="card-content">
							<h3 style="font-weight:bold;color:green;">Scores</h3>
							
							<div style="font-weight:bold;">
								
								<br><h4 style="font-weight:bold;">Correct answers : {{scores}}</h4>
								<br>Selected answers: {{answers}}
								<br> correct: {{mocktest.answers}}
							</div>
						</div>
					</div>
				</div>





				</div>
			</div>
		</div>
	</div>
</div>
</div>