<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="mat-card">
                <div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h2> Student Registration</h2>

                            <div class="alert alert-success" *ngIf="success">
                                <strong>Registration saved!</strong> Please check your email for confirmation.
                            </div>

                            <div class="alert alert-danger" *ngIf="error">
                                <strong>Registration failed!</strong> Please try again later.
                            </div>

                            <div class="alert alert-danger" *ngIf="errorUserExists">
                                <strong>Login name already registered!</strong> Please choose another one.
                            </div>

                            <div class="alert alert-danger" *ngIf="errorEmailExists">
                                <strong>Email is already in use!</strong> Please choose another one.
                            </div>

                            <div class="alert alert-danger" *ngIf="doNotMatch">
                                The password and its confirmation do not match!
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6 col-md-offset-3">
                            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                                <div class="form-group">
                                    <label class="form-control-label" for="login">Username</label>
                                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Your username"
                                        required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
                                    <div *ngIf="login.dirty && login.invalid">
                                        <small class="form-text text-danger" *ngIf="login.errors.required">
                                            Your username is required.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="login.errors.minlength">
                                            Your username is required to be at least 1 character.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="login.errors.maxlength">
                                            Your username cannot be longer than 50 characters.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="login.errors.pattern">
                                            Your username can only contain letters and digits.
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" #name="ngModel" placeholder="Your Name" [(ngModel)]="registerAccount.firstName"
                                        required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
                                    <div *ngIf="name.dirty && name.invalid">
                                        <small class="form-text text-danger" *ngIf="name.errors.required">
                                            Your name is required.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="name.errors.invalid">
                                            Your name is invalid.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="name.errors.minlength">
                                            Your name is required to be at least 5 characters.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="name.errors.maxlength">
                                            Your name cannot be longer than 100 characters.
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="usn">USN</label>
                                    <input type="text" class="form-control" id="usn" name="usn" #usn="ngModel" placeholder="Your usn" [(ngModel)]="registerAccount.usn"
                                        required minlength="10" maxlength="10" pattern="^[_'.@A-Za-z0-9-]*$">
                                    <div *ngIf="usn.dirty && usn.invalid">
                                        <small class="form-text text-danger" *ngIf="usn.errors.required">
                                            Your usn is required.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="usn.errors.invalid">
                                            Your usn is invalid.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="usn.errors.minlength">
                                            Your usn is required to be at least 5 characters.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="usn.errors.maxlength">
                                            Your usn cannot be longer than 100 characters.
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Your email" [(ngModel)]="registerAccount.email"
                                        minlength=5 maxlength=100 email required>
                                    <div *ngIf="email.dirty && email.invalid">
                                        <small class="form-text text-danger" *ngIf="email.errors.required">
                                            Your email is required.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="email.errors.invalid">
                                            Your email is invalid.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="email.errors.minlength">
                                            Your email is required to be at least 5 characters.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="email.errors.maxlength">
                                            Your email cannot be longer than 100 characters.
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="phone">Contact number</label>
                                    <input type="text" class="form-control" id="phone" name="phone" #phone="ngModel" placeholder="Your phone" [(ngModel)]="registerAccount.phone"
                                        required minlength="10" maxlength="10" pattern="^[0-9]*$">
                                    <div *ngIf="phone.dirty && phone.invalid">
                                        <small class="form-text text-danger" *ngIf="phone.errors.required">
                                            Your contact number is required.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="phone.errors.invalid">
                                            Your contact number is invalid.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="phone.errors.minlength">
                                            Your contact number is required to be at least 5 characters.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="phone.errors.maxlength">
                                            Your contact number cannot be longer than 100 characters.
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="course">Course</label>
                                    <select class="form-control" id="course" name="course" #course="ngModel" placeholder="Your course" [(ngModel)]="registerAccount.course">
                                        <option selected>Computer Science</option>
                                        <option>Information Science</option>
                                        <option>Mechanical</option>
                                        <option>Electronics and Communication</option>
                                        <option>Electrical and Electronics</option>
                                        <option>Instrumentation</option>
                                        <option>Civil</option>
                                        <option>Bio Tech</option>
                                        <option>Chemical</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="cgpa">CGPA</label>
                                    <input type="text" class="form-control" id="cgpa" name="cgpa" #cgpa="ngModel" placeholder="Your cgpa" [(ngModel)]="registerAccount.cgpa"
                                        required pattern="^[0-9].[0-9][0-9]$">
                                    <div *ngIf="cgpa.dirty && cgpa.invalid">
                                        <small class="form-text text-danger" *ngIf="cgpa.errors.required">
                                            Your cgpa is required.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="cgpa.errors.invalid">
                                            Your cgpa is invalid.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="cgpa.errors.minlength">
                                            Your cgpa is required to be at least 5 characters.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="cgpa.errors.maxlength">
                                            Your cgpa cannot be longer than 100 characters.
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="password">New password</label>
                                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="New password"
                                        [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                                    <div *ngIf="password.dirty && password.invalid">
                                        <small class="form-text text-danger" *ngIf="password.errors.required">
                                            Your password is required.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="password.errors.minlength">
                                            Your password is required to be at least 4 characters.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="password.errors.maxlength">
                                            Your password cannot be longer than 50 characters.
                                        </small>
                                    </div>
                                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="confirmPassword">New password confirmation</label>
                                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirm the new password"
                                        [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required">
                                            Your confirmation password is required.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength">
                                            Your confirmation password is required to be at least 4 characters.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength">
                                            Your confirmation password cannot be longer than 50 characters.
                                        </small>
                                    </div>
                                </div>

                                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">Register</button>
                            </form>
                            <p></p>
                            <!-- <div class="alert alert-warning">
                                <span>If you want to </span>
                                <a class="alert-link" (click)="openLogin()">sign in</a>
                                <span>, you can try the default accounts:
                                    <br/>- Administrator (login="admin" and password="admin")
                                    <br/>- User (login="user" and password="user").</span>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>