<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header" data-background-color="blue">
                      <h4 class="title">Companies Visited 2019</h4>
                      <p class="category">list of companies visited this year</p>
                  </div>
                  <div class="card-content table-responsive">
                      <table class="table">
                          <thead class="text-danger">
                              <tr>
                                  <th>Name</th>
                                  <th>Designation</th>
                                  <th>Offer</th>
                                  <th>Package</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Redbus</td>
                                  <td>Developer</td>
                                  <td>Fulltime</td>
                                  <td class="text-danger">7.7 L</td>
                              </tr>
                              <tr>
                                <td>Siemens</td>
                                <td>Software Engineer</td>
                                <td>Fulltime</td>
                                <td class="text-danger">5.5 L</td>
                            </tr>
                            <tr>
                              <td>TCS</td>
                              <td>Engineer</td>
                              <td>Fulltime</td>
                              <td class="text-danger">3.3 L</td>
                          </tr>
                          <tr>
                            <td>Tech_mahindra</td>
                            <td>Automation Engineer</td>
                            <td>Fulltime</td>
                            <td class="text-danger">5.00  L</td>
                        </tr>
                        <tr>
                          <td>VM ware</td>
                          <td>IT Operator</td>
                          <td>Internship</td>
                          <td class="text-danger">10.0  L</td>
                      </tr>
                      <tr>
                        <td>Bosch</td>
                        <td>Engineer</td>
                        <td>Fulltime</td>
                        <td class="text-danger">4.5 L</td>
                    </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>

          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header" data-background-color="blue">
                      <h4 class="title">Companies Visited 2018</h4>
                      <p class="category">List of companies visited previous year</p>
                  </div>
                  <div class="card-content table-responsive">
                    <table class="table table-hover">
                      <thead class="text-danger">
                          <tr>
                              <th>Name</th>
                              <th>Designation</th>
                              <th>Offer</th>
                              <th>Package</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Redbus</td>
                              <td>Developer</td>
                              <td>Fulltime</td>
                              <td class="text-danger">7.7 L</td>
                          </tr>
                          <tr>
                            <td>Siemens</td>
                            <td>Software Engineer</td>
                            <td>Fulltime</td>
                            <td class="text-danger">5.5 L</td>
                        </tr>
                        <tr>
                          <td>TCS</td>
                          <td>Engineer</td>
                          <td>Fulltime</td>
                          <td class="text-danger">3.3 L</td>
                      </tr>
                      <tr>
                        <td>Tech_mahindra</td>
                        <td>Automation Engineer</td>
                        <td>Fulltime</td>
                        <td class="text-danger">5.00  L</td>
                    </tr>
                    <tr>
                      <td>VM ware</td>
                      <td>IT Operator</td>
                      <td>Internship</td>
                      <td class="text-danger">10.0  L</td>
                  </tr>
                  <tr>
                    <td>Bosch</td>
                    <td>Engineer</td>
                    <td>Fulltime</td>
                    <td class="text-danger">4.5 L</td>
                </tr>
                      </tbody>
                  </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
