<div class="main-content">

  <div class="container-fluid">

    <div class="col-md-12">

      <div class="card">
        <div class="card-header" data-background-color="red">
          <div class="">
            <h5>Adobe Details</h5>
          </div>
        </div>



        <div class="card-content">

          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <div class="row">
                <div class="col-xs-8 col-sm-6">
                  <h5 class="text-muted">Name :</h5>
                </div>
                <div class="col-xs-4 col-sm-6">
                  <p>Adobe</p>
                  <!-- <input [(ngModel)]="company.name" placeholder="name"/> -->
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col-xs-8 col-sm-6">
                  <h5 class="text-muted">Website :</h5>
                </div>
                <div class="col-xs-4 col-sm-6">
                  <p>Adobe.com</p>
                  <!-- <input [(ngModel)]="company.website" placeholder="name"/> -->
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col-xs-8 col-sm-6">
                  <h5 class="text-muted">Location :</h5>
                </div>
                <div class="col-xs-4 col-sm-6">
                  <p>Adobe, Bangalore</p>
                  <!-- <input [(ngModel)]="company.address" placeholder="name"/> -->
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col-xs-8 col-sm-6">
                  <h5 class="text-muted">Contact :</h5>
                </div>
                <div class="col-xs-4 col-sm-6">
                  <p>35132121</p>
                  <!-- <input [(ngModel)]="company.number" placeholder="name"/> -->
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="card-footer">
          <div class="stats" style="float:right;">
            <button class="btn btn btn-danger">Edit</button>
          </div>
          <div class="stats" style="float:left;">
            <button (click)="goBack()" class="btn btn btn-danger">Back</button>
          </div>
        </div>


      </div>

    </div>

  </div>

</div>