<div class="main-content">

  <div class="container-fluid">
    <div>
      <h5>Company Recruitment Process <i class="material-icons">swap_vert</i></h5>
    </div>
    <div class="card">
      <div>
        <mat-horizontal-stepper>
          <mat-step label="Online Test">

            <div class="card-content table-responsive table-full-width my-border">
              <table class="table" style="margin-left:20px;">
                <thead class="text-info">
                  <th>check </th>
                  <th class="pad">Sl. No.</th>
                  <th class="pad">Student Name</th>
                  <th class="pad">USN</th>

                  <th class="pad">E-mail</th>
                  <th class="pad">Contact</th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" name="optionsCheckboxes" checked>
                              </label>
                          </div>
                      </td>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                  <tr>
                      <td>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" name="optionsCheckboxes" checked>
                              </label>
                          </div>
                      </td>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                  <tr>
                      <td>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" name="optionsCheckboxes" checked>
                              </label>
                          </div>
                      </td>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                  <tr>
                      <td>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" name="optionsCheckboxes" checked>
                              </label>
                          </div>
                      </td>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                  <tr>
                      <td>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" name="optionsCheckboxes" checked>
                              </label>
                          </div>
                      </td>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                  <tr>
                      <td>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" name="optionsCheckboxes" checked>
                              </label>
                          </div>
                      </td>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                  <tr>
                      <td>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" name="optionsCheckboxes" checked>
                              </label>
                          </div>
                      </td>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                  <tr>
                      <td>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" name="optionsCheckboxes" checked>
                              </label>
                          </div>
                      </td>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div>
              <button class="btn btn-info pull-right" mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step label="Group Discussion">
            <div class="card-content table-responsive table-full-width my-border" >
              <table class="table" style="margin-left:20px;">
                <thead class="text-info">
                  <th class="pad">Sl No</th>
                  <th class="pad">Student Name</th>
                  <th class="pad">USN</th>

                  <th class="pad">E-mail</th>
                  <th class="pad">Contact</th>
                </thead>
                <tbody>
                  <tr>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                  <tr>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                  <tr>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                  <tr>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                  <tr>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                  <tr>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div>
              <button class="btn btn-info pull-left" mat-button matStepperPrevious>Back</button>
              <button class="btn btn-info pull-right" mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step label="Technical Interview">
            <div class="card-content table-responsive table-full-width my-border" >
              <table class="table" style="margin-left:20px;">
                <thead class="text-info">
                  <th class="pad">Sl No</th>
                  <th class="pad">Student Name</th>
                  <th class="pad">USN</th>

                  <th class="pad">E-mail</th>
                  <th class="pad">Contact</th>
                </thead>
                <tbody>
                  <tr>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                  <tr>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                  <tr>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                  <tr>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div>
              <button class="btn btn-info pull-left" mat-button matStepperPrevious>Back</button>
              <button class="btn btn-info pull-right" mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step label="HR Interview">
            <div class="card-content table-responsive table-full-width my-border" >
              <table class="table" style="margin-left:20px;">
                <thead class="text-info">
                  <th class="pad">Sl No</th>
                  <th class="pad">Student Name</th>
                  <th class="pad">USN</th>

                  <th class="pad">E-mail</th>
                  <th class="pad">Contact</th>
                </thead>
                <tbody>
                  <tr>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                  <tr>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                  <tr>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <button class="btn btn-info pull-left" mat-button matStepperPrevious>Back</button>
              <button class="btn btn-info pull-right" mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step label="Selected">
            <div class="card-content table-responsive table-full-width my-border" >
              <table class="table" style="margin-left:20px;">
                <thead class="text-info">
                  <th class="pad">Sl No</th>
                  <th class="pad">Student Name</th>
                  <th class="pad">USN</th>

                  <th class="pad">E-mail</th>
                  <th class="pad">Contact</th>
                </thead>
                <tbody>
                  <tr>
                    <td class="pad">1</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                  <tr>
                    <td class="pad">10</td>
                    <td class="pad">AAAAAAAAA</td>
                    <td class="pad">1si12it025</td>

                    <td class="pad">aaaa@gmail.com</td>
                    <td class="pad">9874563201</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <button class="btn btn-info pull-left" mat-button matStepperPrevious>Back</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>

      </div>

      <div class="card-footer">
        <button (click)="goBack()" type="submit" class="btn btn-info pull-left">Exit</button>
        <button type="submit" class="btn btn-info pull-right">Get Report</button>
        <div class="clearfix"></div>
      </div>

    </div>

  </div>

</div>