<div class="main-content">
  <div class="container-fluid">

    <div class="card" style="height:600px;">
      <div class="card-header" data-background-color="blue">
        <h4 class="title">Active Selection Process</h4>
        <p class="category">September, 2018</p>
      </div>
      <div class="card-content">

        <div class="row" (click)="gotoSelectionProcess()">
          <div class="col-md-6 col-md-offset-3">

            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <div class="wrap">
                      <article class="light-margin material-card">
                        <header>
                          <figure class="material-card-icon">
                              <i class="card-icon material-icons">next_week</i>
                          </figure>
                          <h2 class="material-card-title">Red Bus</h2>
                          <div class="material-card-action">
                            <a href="#">
                                <i class="material-icons">keyboard_arrow_up</i>
                            </a>
                          </div>
                          <div class="material-card-info">
                            <i class="material-icons">access_time</i>
                            <time>sep 27</time>
                          </div>
                        </header>
                      </article>
      
                      <article class="light-margin material-card">
                        <header>
                          <figure class="material-card-icon">
                              <i class="card-icon material-icons">next_week</i>
                          </figure>
                          <h2 class="material-card-title">Siemens</h2>
                          <div class="material-card-action">
                            <a href="#">
                                <i class="material-icons">keyboard_arrow_up</i>
                            </a>
                          </div>
                          <div class="material-card-info">
                            <i class="material-icons">access_time</i>
                            <time>sep 28</time>
                          </div>
                        </header>
                      </article>
      
                      <article class="light-margin material-card">
                        <header>
                          <figure class="material-card-icon">
                              <i class="card-icon material-icons">next_week</i>
                          </figure>
                          <h2 class="material-card-title">Tata Consultancy Services</h2>
                          <div class="material-card-action">
                            <a href="#">
                                <i class="material-icons">keyboard_arrow_up</i>
                            </a>
                          </div>
                          <div class="material-card-info">
                            <i class="material-icons">access_time</i>
                            <time>sep 28</time>
                          </div>
                        </header>
                      </article>
                    </div>
      
      
              </div>
              

            </div>




          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="light-margin card-header" data-background-color="white">
              <h4 class=" title " style="color:rgb(73, 73, 73);">Red Bus</h4>
              <p class="category" style="color:rgb(109, 109, 109);">Technical Interview</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="light-margin card-header" data-background-color="white">
              <h4 class=" title " style="color:rgb(73, 73, 73);">Tata Consultancy Services</h4>
              <p class="category" style="color:rgb(109, 109, 109);">Group Discussion</p>
            </div>
          </div>
        </div> -->



        <!-- <div class="card-content">
            
          </div> -->



      </div>
    </div>

  </div>

</div>