.masthead{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../../../assets/img/bg-masthead.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.alert-link{


}

.bg{
    color: #2b809f;
}
/*
.mb-1{
    color:white;
    }
*/
